.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer p {
    font-size: small;
    line-height: normal;
}

.copyright {
    color: rgb(98, 98, 98);
}

.socials {
    display: flex;
    justify-content: space-evenly;
    padding: .1rem;
    width: 5rem;
}

.socials a {
    color: black;
}

.socials a:hover {
    color: rgb(98, 98, 98);
}

@media (max-width: 800px) {
    .footer {
        flex-direction: column-reverse;
    }
}